<div am-Cart-Toggle ng-controller="CartToggleCtrl as cart" ng-click="cart.toggle();">

  <div am-Cart-Items-Total>
    {[{cart.getItemCount()}]}
  </div>

  <img src="{{ 'cart_icn.svg' | asset_url }}"/>
</div>
