<div id="col-main" class="all-collections grid-100 remove_padding">
  
  <div id="page-header">
    <h1 id="page-title" class="remove_margin">Collections</h1>
  </div>
   
  <section class="diagonal-divider {{ collection.handle }} clearfix">

    <ul id="collection-grid" class="product-grid">
    {% for collection in collections %}
    {% unless collection.handle == 'frontpage' or collection.handle == 'all' or collection.handle == 'off-season' or collection.products.size < 1 %}
      {% include 'collection-item' %}
    {% endunless %}
    {% endfor %}
    </ul>
  </section>
    
    
  {% if settings.show_sidebar_prodcoll %}
  </div>
  {% endif %}
</div><!-- /#col-main -->
