<div class="comment clearfix">
  
  <div class="comment-head clearfix">
    <div class="comment-author">
      <span class="commented">Posted by</span> <span class="c_author">{{ comment.author }}</span>
    </div>
    <span class="comment-posted"><span> on </span>{{ comment.created_at | date: "%B %d, %Y" }}</span>
    {% if article.comments_enabled? %}
    <a class="comments-reply button2 enable" href="{{article.url}}#comment-form" title="Add your thoughts">Reply</a>
    {% else %}
    <span class="comments-reply button2 disabled">Comments disabled</span>
    {% endif %}
  </div>
  <div class="comment_content">
    {{ comment.content }}
  </div>
  
</div> <!-- end .comment -->
