{% if shop.products_count < 1 %}

<div class="grid-container">
  
  <div class="grid-100 align-center">
      <h2 class="align-center">Welcome to your store!</h2>
      <p>It looks like you don't have any products yet, would you like to <a href="/admin/products/new">create some now</a>?</p>
  </div>
  
</div>
{% endif %}
