form(am-Cart ng-show="cartCtrl.cart.isOpened" ng-submit="cartCtrl.checkout()")
  div(am-Cart-Inner)
    div(am-Grid-Row="middle between" am-offset-top="gutter" am-offset-bottom="gutter")
      div(am-Text="heading white") Cart
      div(ng-click="cartCtrl.cart.close()" am-Close-Icon)

    div(am-Cart-Items)
      div(ng-repeat="item in cartCtrl.cart.items" am-Cart-Item)
        div(am-Grid-Row am-Flex-Item="fit")
          div(am-Grid-Col="4" am-Flex-Item="fit")
            div(am-Cart-Item-Img zddz-glitch-img data-img-src="{[{item.image}]}")
            div(am-Grid-Row="middle" am-Cart-Item-Controls)
              div(am-Flex-Item="fit") -
              div(am-Flex-Item="fit") {[{item.quantity}]}
              div(am-Flex-Item="fit" )
                div(am-width="parent" ng-click="cartCtrl.addItem(item)" ng-show="cartCtrl.canAddMoreItems()") +

          div(am-Cart-Item-Details)
            div {[{item.product_title}]}
            div {[{item.variant_title | zddzSize }]}
            div {[{item.price | money}]}

    div(am-offset-top="auto" am-offset-bottom="gutter")
      div(am-Text="em") Subtotal: {[{cartCtrl.getSubtotal() | money}]}


  input(type="submit" am-Checkout-Button am-Button="fit"  value="Checkout")
  div(am-Cart-Disclaimer am-offset-top="auto") Shipping, taxes and discounts calculated at checkout
