{% layout settings.customer_layout %}

<div class="content clearfix">
  
    <div class="page-header">
      <h1 id="page-title">Reset Account Password</h1>
    </div>

  <div id="reset_password" class="grid-container">
    <div class="grid-100">
      <p class="note">Enter a new password for <span class="email">{{ email }}</span></p>
      
      {% form 'reset_customer_password' %}
      
      {% if form.errors %}
      <div class="alert alert-error">
        {{ form.errors | default_errors }}
      </div>
      {% endif %}
      
      <div id="customer_password" class="clearfix form-row">
        <label class="label1" for="customer_password">Password <span class="req">*</span></label>
        <input type="password" value="" name="customer[password]" id="customer_password" class="password" />
      </div>
      <div id="password_confirm" class="clearfix form-row">
        <label class="label1" for="password_confirmation">Confirm Password <span class="req">*</span></label>
        <input type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" class="password" />
      </div>
      <div class="action_bottom clearfix">
        <input class="button3" type="submit" value="Reset Password" />
      </div>
      {% endform %}
    </div>
  </div>
</div>
