@import 'normalize';
@import 'grid';
@import 'layout';

@height-single:30px;
@width-single:30px;
@gutter:20px;

@width-wide:1280px;
@width-desk:960px;

@input-height:32px;

@item-block-height:400px;


* {
  box-sizing:border-box;
}

body {
  // opacity: 0!important;
  //
  line-height: 1.2;
  footer{
    border:0!important;
    padding-bottom: 30px;
  }
  header {
    border:0!important;
    padding-top:30px;
  }
  form {
    margin: 0;
  }
}

[am-Search] {
  height:@input-height;
  form {
    height:100%;
  }
  input, input:focus {
    height:100%;
    width:100%;
    background-color: black;
    &:extend([am-Input]);
  }
}

[am-Main-Menu]{
  li {
    list-style: none;
    text-transform:uppercase;
    margin-bottom: 0;
    margin-top: 10px;
    color:black;

    a {
      text-decoration: none;
    }
  }

}
[am-Block] {
  // height:400px;
  // min-width:270px;
}

[am-ZD] {
  justify-content:space-between;
}

[am-DZ] {
  order:5;
  justify-content:flex-end;
}

[am-DZ], [am-ZD] {
  &:extend([am-Collection-Item]);
  height:@item-block-height;
  margin-bottom:106px;
  img {

  }
}


[am-Collection-Item] {
  &:extend([am-Grid-Col], [am-Grid-Col~="wide:3"], [am-Grid-Col~="12"]);
  &:extend([am-gutter]);
  margin-bottom:60px;
}

[am-Product-Img] {
  height:@item-block-height;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

[am-Product-Link]{
  display: block;
}

[am-Product-Summary] {
  height:46px;
  &:extend([am-Grid-Col], [am-Grid-Col~="bottom"]);
}

// [am-Product-Price], [am-Product-Title] {
// }

[am-Product-Title]:extend([am-Text~="heading"]){

}


@import "footer";

@import "text";


[am-Input] {
  .am-Input()!important;
}

[am-Input~="red"]{
  background: red!important;
  color:black!important;

  &::placeholder{
    // color:lighten(black, 10%);
    color:black;
  }
}

.am-Input(){
  height:@input-height;
  border:0;
  width:100%;
  max-width: 300px;
  color:white;
  font-family:Courier New;
  border-radius: 0;
  padding:0 8px;

}

@media only screen and (min-width: @width-wide - 1) {
  [am-Main-Container]{
    margin: 0 auto;
    width: 1200px;
  }
}




[am-Page-Title]:extend([am-height~="x2"], [am-Grid-Row], [am-Grid-Row~="middle"], [am-Text~="heading"]) {

}
