@import 'normalize';
@import 'grid';
@import 'layout';
@import 'cart';

body[am-Main-Container] {
  @import 'button';
}

@height-single:30px;
@width-single:30px;
@gutter:20px;
// @row-spacing:50px;
@row-spacing:106px;
@product-info-height:46px;

// @width-wide:1280px;
@width-wide:960px;

@width-desk:960px;

@input-height:22px;

@item-block-height:260px;


* {
  box-sizing:border-box;
}

body {
  [ng-click]:not([disabled]) {
    cursor:pointer;
  }
  h2 {
    &:extend([am-Text~="heading"]);
  }
  // opacity: 0!important;

  line-height: 1.2;
  footer{
    border:0!important;
    padding-bottom: 30px;
  }
  header {
    border:0!important;
    padding-top:30px;
  }
  form {
    margin: 0;
  }
}



[am-Search] {
  height:@input-height;
  form {
    height:100%;
    display:flex;

  }
  input, input:focus {
    height:100%;
    width:100%;
    background: black;
    &:extend([am-Input]);
    // background
  }

  [am-Search-Icon] {
    width:30px;
    background-position:center center;
    background-size:13px 13px;

    background-image: url('data:image/svg+xml;utf8,<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 16.1 16.1" enable-background="new 0 0 16.1 16.1" xml:space="preserve"><g fill="white"><path d="M9.3,0C5.5,0,2.4,3.1,2.4,6.8c0,1.5,0.5,2.9,1.4,4.1L0,14.7l1.4,1.4l3.8-3.8c1.1,0.8,2.5,1.4,4.1,1.4c3.8,0,6.8-3.1,6.8-6.8C16.1,3.1,13,0,9.3,0z M9.3,11.7c-2.7,0-4.8-2.2-4.8-4.8S6.6,2,9.3,2s4.8,2.2,4.8,4.8S11.9,11.7,9.3,11.7z"/></g></svg>');
    background-repeat:no-repeat;
    margin-left: auto;
    background-color:black;
  }
}
[am-Main-Menu-Outer] {
  &:extend([am-Grid-Col]);
  margin:26px 0;
  justify-content:center;
}
[am-Main-Menu-Link] {
  width:50%;
}
[am-Main-Menu-Link~="active:true"] {
  font-weight:bold;
}

[am-Main-Menu]{
  &:extend([am-Grid-Col]);
  flex-wrap:wrap;

  li {
    flex-basis:0%;
    list-style: none;
    text-transform:uppercase;
    margin:2px 0;
    color:black;

    a {
      text-decoration: none;
    }
  }

}

[am-ZD] {
  justify-content:space-between;
}

[am-DZ] {
  order:5;
  justify-content:flex-end;
}

[am-DZ], [am-ZD] {
  &:extend([am-Block]);
  height:@item-block-height;
  // margin-bottom:106px;
}

[am-Block] {
  &:extend([am-Grid-Col], [am-Grid-Col~="wide:3"], [am-Grid-Col~="12"]);
  &:extend([am-gutter]);
  margin-bottom:@row-spacing;
}


[am-Collection-Item]:extend([am-Block]) {
  margin-bottom:@row-spacing - @product-info-height;
}

[am-Product-Img] {
  height:@item-block-height;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

[am-Product-Link]{
  display: block;
}

[am-Product-Summary] {
  height:@product-info-height;
  &:extend([am-Grid-Col], [am-Grid-Col~="bottom"]);
}

[am-Product-Price~="on-sale:true"], .product-price.on-sale {
  color:red;
}

[am-Product-Title]:extend([am-Text~="heading"]){

}


@import "footer";

@import "text";


[am-Input] {
  .am-Input()!important;
}

[am-Input~="red"]{
  background: red!important;
  color:black!important;

  &::placeholder{
    // color:lighten(black, 10%);
    color:black;
  }
}

[am-Input~="black"]{
  background: black!important;
  color:white!important;

  &::placeholder{
    // color:lighten(white, 10%);
    color:white;
  }
}


.am-Input(){
  height:@input-height;
  border:0;
  width:100%;
  max-width: 300px;
  color:white;
  font-family:Courier New;
  border-radius: 0;
  padding:0 8px;

}

body[am-Main-Container] {
  header {
    padding-top:10px;
  }
  del {
  }
  // font-size: 10p;
}


[am-Page-Title]:extend([am-height~="x2"], [am-Grid-Row], [am-Grid-Row~="middle"], [am-Text~="heading"]) {

}

[am-Sizes]:extend([am-Grid-Row], [am-Grid-Row~="middle"], [am-negative-gutter]) {
  height:@height-single * 2;
}

[am-Size]:extend([am-Grid-Col], [am-Grid-Col~="middle"], [am-Grid-Col~="center"], [am-gutter]) {
  flex-grow:0;
  height:@input-height;
  cursor: pointer;
  // width:@width-single;
  // background:red;

  &[am-Size~="selected:true"] {
    font-weight: bold;
  }

  &[am-Size~="available:false"] {
    text-decoration:line-through;
    pointer-events: none;
  }

}

[am-Featured-Image] {
  position:absolute;
  left:0;
  width:100%;
  height:(@item-block-height * 2) + @row-spacing;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
}

[am-Secondary-Image] + [am-Secondary-Image] {
  margin-top:@product-info-height;
}

[am-Secondary-Image] {
  flex:1;
  background-repeat:no-repeat;
  background-position:center center;
  background-size:cover;
}


[am-Sold-Out] {
  position:absolute;
  width:@input-height;
  background:red;
}

[am-Cart-Toggle] {
  background:red;
  display:flex;
  height:@input-height;
  padding:6px 7px;
  width:auto;
  align-items:center;

  [am-Cart-Items-Total]{
    margin-right: 9px;
    font-weight:bold;
  }

  img {
    margin:0 auto;
    height:100%;
    // width:15px;
    // height:100%;
    // width:100%;
  }
}

@media only screen and (min-width: @width-wide) {
  [am-Main-Container]{
    margin: 0 auto;
    // width: 1200px;
    width:@width-wide - 60px;
  }
}
