html{ebkit-font-smoothing:antialiased}
body{

	font-family: 'Roboto', sans-serif !important;	
	background: #fff !important;
	
}
/*=====================*/
/*typography*/
/*=====================*/
input, select, textarea{
	outline: none;
}
h1, h2, h3, h4, h5{
	text-align: left;
}
h1, h2, h3{
	font-family: 'Lato';
}
h4, h5{
	font-family: 'Roboto', sans-serif !important;
}
h1{
	font-size: 40px;
	color: #202020;
	font-weight: 300;
	
}
h1.line{
	border-bottom: 1px solid #dcdcdc;	
}
h2{
	
	color:#458f74;
	font-size: 30px;		
	font-weight: 400;
}

h3{	
	
	font-size: 30px;
	color: #202020;
	font-weight: bold;
	
}
h4{
	
	font-size: 18px;
	color: #202020;
	font-weight: bold;
	text-transform: uppercase;
}
h5{
	
	font-size: 14px;
	color: #202020;
	font-weight: bold;	
}

ul ol{margin-left: 20px !important;font-size: 14px !important;}
ul li{line-height: 30px; font-size: 14px;}
ul ul{list-style: circle;}
ul ul ul{list-style: disc;}

dl{font-size: 14px; font-family: 'Roboto', sans-serif !important;}
dl dt{ font-weight: bold; color: #202020;}
dl dd{margin: 0 0 25px 0; color: #505050;}

a{text-decoration: none;}
p{font-size: 14px; color: #505050; font-family: 'Roboto', sans-serif; margin: 0 0 28px 0; }
strong{color:#202020; font-weight: bold; }
blockquote{
	font-family: 'Roboto', sans-serif !important;
	background: #f3f3f3 url("quote.png") no-repeat 100% 5px;
	font-size: 14px;
	padding: 20px 20px 40px 20px;
	margin:0 !important;
}

table{
	background:#fff;
	border-collapse: collapse;
	border-spacing: 0;
	width: 100%;
}
table th {
    background: none repeat scroll 0 0 #FAFAFA !important;
    border: 1px solid #DCDCDC;
    color: #333333;
    font-weight: bold;
    padding: 10px 19px;
}
td{
	/*width:  20%;*/
	padding: 15px 20px;
}
tr td{
	border: 1px solid #e1e1e1;
	font-size: 14px;
	color: #202020;
}
tr.tr_title td{
	background: #fafafa;
	font-weight: bold;
	font-size: 12px;
	padding: 10px 20px;
}

.typo .title{
	color: #202020;
	font-size: 18px;
	font-family: 'Roboto', sans-serif !important;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px 0 0 10px;
	margin: 0 0 30px 0;
}

/* vertical-align: top;*/
/*=====================*/
/*end typography*/
/*=====================*/
/*=================*/
/*header*/
/*=================*/
#top{
	padding-top: 0px;
	margin-bottom: 0;	
	padding:10px 0 0;
}

#site-title {
	border-bottom: 1px solid #DCDCDC;
    padding-bottom: 45px;	
}
img{
	max-width: 100%;
}
/*accounts*/

ul#accounts{
	list-style: none;
	text-align: left;
}
ul#accounts li{    
    margin: 0;
    padding: 0 15px 0;
	position: relative;
	line-height: 10px;
	display: inline;
	font-size: 12px;
}
ul#accounts li.login, ul#accounts li.logout{
	border-right: 1px solid #DCDCDC;
}

ul#accounts li a{
	font-size: 12px;
	color: #202020;
	text-decoration: none;
	font-family: 'Roboto', sans-serif;
	
}
#bodyBox a#customer_register_link{
	color:#459293 !important;
}

ul#accounts li a:hover{
	text-decoration: underline;
}

/*end accounts*/

/*search*/
#header-search{
	border: none;
	height: 50px;
	line-height: 50px;
	position: relative !important;
	float: left;
	width: 100%;
	box-sizing: border-box;
}

.search-input{
	height: 35px;
	line-height: 35px;	
	padding: 6px 0 6px 10px;	
}
span.icon_search {
	background: url({{ 'group_icon.png' | asset_url }}) no-repeat scroll -92px 0 transparent;
    display: block;
    float: left;
    height: 22px;
    margin: 14px 10px;
    position: absolute;
    width: 22px;
	top: 0;
	left: 0;	
}

#header-search #top-search-submit{
	position: absolute;
	top: 10px;
	left: -4px;
	float: right;
	margin: 0 0 0 10px;
	font-size: 0; /* ie7 */
	line-height: 50px; /* ie7 */
	border: none;
	width: 25px;
	height: 25px;
	background: none;
}
#header-search #top-search-input{	
    line-height: 35px;
    margin: 6px 0;
    padding:0 0 0 40px;
	width: 182px; 
	font-size: 12px;
	float: left;
	box-sizing: border-box;
	width: 80%;
}
/*end search*/

/*menu*/
#top-menu {
	padding: 0 45px;	
	border-left: 1px solid #DDDDDD;
	height: 50px;	
	float: left;
	margin-left: 0 !important;
}
#top-menu a{	
	border: none;
    color: #202020;    
    font: 18px lato,arial,sans-serif;
    padding: 13px 30px;
    text-decoration: none;
    text-transform: uppercase;
}
#top-menu a:hover, #top-menu .active  a, #top-menu .current  a{
	color:#dcdcdc;
	text-decoration: none !important;
	
}
#top-menu ul li a{
	display: block;
}
#top-menu ul ul{	
	width: 220px !important;
	left: -30px !important;
	top: 100%;
	padding: 5px 0 20px 0 !important;
}

.has-dropdown ul li{
	padding: 7px 20px !important;
	line-height: 20px !important;
}
#top-menu ul ul a { 
	font-size: 14px !important;   
}
#top-menu ul ul li a:hover, #top-menu ul ul li.current a{
	font-weight: bold !important;
}

.has-dropdown ul{	
	text-align: left;
	-webkit-box-shadow: #ececec 0px 2px 3px;
	-moz-box-shadow: #ececec 0px 2px 3px;
	box-shadow: #ececec 0px 2px 3px;
	border: 1px solid #ececec;
}
#top-menu ul ul li{
	float: none;
	display: block;
}
#top-menu .has-dropdown ul li a{
	color: #505050 !important;	
	text-transform: none !important;	
	clear: both;
	display: inline;
}
#top-menu .has-dropdown ul li a:hover, .js #top-menu .has-dropdown ul li.current a{
	color: #202020 !important;
	text-decoration: none;
	font-weight: bold;
}
/*end menu*/

/*umbrella*/
#umbrella {
    background: none repeat scroll 0 0 transparent;
    color: #202020;
    height: 50px;
    line-height: 50px;
	position: relative;
	z-index: 1;
}

#umbrella a, .cart.empty a{
	text-transform: uppercase;
	font-size: 14px;
}

#umbrella a:hover {
color: #dcdcdc;
}
#umbrella .num-items-in-cart .icon{
	padding-left: 59px;
}

/*cart-info*/
#cart-info{		
	position: absolute;
	z-index: 1;
	transition: all 0.4s ease-in-out 0s;
	border: 1px solid #ddd;
	-webkit-box-shadow: #ddd 0px 2px 3px;
	-moz-box-shadow: #ddd 0px 2px 3px;
	box-shadow: #ddd 0px 2px 3px;
	
}
table.items{
	margin-bottom: 0;
}

td.td_thumb{
	display:table-cell;
	position: relative;
	overflow: hidden;
	padding-bottom: 0;
}
td.td_thumb:last-child{
	padding-bottom: 10px;
}
td.td_thumb .td_close{
	position: absolute;
	top: 4px;
	left: 4px;
}
td .cleft{
	width: 37%;
	float: left;
	text-align: left;
}
td .cright{
	width: 60%;
	float: right;
	text-align: left;
}
.cright .cprice{
	margin-top: -10px;
}
td.td_thumb .td_link{
	margin-top: 5px;
	margin-left: 10px;
	margin-right: 10px;
}
td.td_thumb img{
	max-width: 100%;
}
td.td_thumb a{
	display: block !important;
	text-align: center;
	
}
table.items td{
	border: none !important;
}

table.items td .name a{
	font-size: 14px;
	color: #202020;
	text-align: left;
	line-height: 18px !important;
	display: table-cell;
}
table.items td {
	background: #fff;
}
table.items td span.money{
	color: #458f74;
	font-weight: bold;
}
span.money:parent{
	font-weight: bold !important;
}
table.items td a.td_close{		
	width: 20px;
	height: 20px;
	background: url("group_icon.png") no-repeat -121px -124px;
	display: block;
	margin: 5px;
}
table.items tr.tr_total{
	border-top: 1px solid #DDDDDD;
}
table.items tr.tr_total td{
	border: none !important;
	padding: 0 14px;
}
table.items tr.tr_checkout, table.items tr.tr_checkout td, table.items tr.tr_viewcart{
	padding-bottom: 0;
	padding-top: 0;
}
table.items tr.tr_viewcart td {
	padding-top: 10px;
}
table.items tr.tr_viewcart, table.items tr.tr_viewcart td {
	border-bottom: 1px solid #ddd!important;	
	line-height: 10px;
    padding-bottom: 25px;
}

.wrap-table {
	width: 100%;
	overflow-x: auto;
	margin-bottom: 20px;
}

.checkout{		 
    margin: 0 auto;
	text-align: center;
}
.js #checkout-addnote textarea{
	margin-bottom: 10px;
}
.checkout  a.button2{	
	line-height: 20px;
	display: block !important;
}
.viewcart{
    text-align: left;   
}

.viewcart a.button{
	color: #458F74 !important;
    font-size: 12px !important;
    font-weight: bold;
    text-transform: none !important;
}
/*end cart-info*/
/*empty*/
.empty{
	background: #fff; 
}
.empty{
	display: block !important;
	line-height: 20px !important;
	padding:20px;
}
/*end empty*/
/*end umbrella*/

/*icon*/
.cart-link{
	position: relative;
	border-left: 1px solid #DDDDDD;	
}
a.num-items-in-cart span.cart-icon{
	background: background: url({{ 'group_icon.png' | asset_url }}) no-repeat scroll 0 0 transparent !important;
    display: block;
    float: left;
    height: 25px;
    margin: 10px 18px;
    width: 25px;		
	position: absolute;
	left: 0;
	top: 0;
	
}
span.icon{
	text-align: left;
	padding:0 0 0 45px;
}

span.nav-arrows{	
    display: block;
    height: 16px;
    position: absolute;
    right: 13px;
    top: 45% !important;
    width: 10px;
	background: transparent url(group_icon.png) no-repeat -103px -134px;
	
	
}
/*end icon*/
/*login*/
fieldset{
	margin-bottom: 12px !important;
	line-height: 15px;
}
#loginBox{	
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1;
	text-align: left;
	background: #fff;
	padding: 20px;
	padding-bottom: 10px;
	border: 1px solid #ececec;
	-webkit-box-shadow: #ececec 1px 0px 2px;
	-moz-box-shadow: #ececec 1px 0px 2px;
	box-shadow: #ececec 1px 0px 2px;
	width: 180px;
}

fieldset #bodyBox{
	position: relative;
}
#bodyBox .regs_link{
	margin-top: 7px;
}
#customer-login .page-header, #guest .page-header, #recover-password .page-header{
	margin-top: 20px;
	margin-bottom: 10px;
}
#customer-login #login_password{
	margin-top: 10px;
}
#customer-login .action-bottom{
	margin-top: 5px;
}
#guest p, #recover-password p, .reset_password p{
	font-size: 12px;
}
.reset_password {
	margin-bottom: 30px;
}
.reset_password .email{
	color: #458f74;
}
.reset_password  .action_bottom {
	margin-top: 10px;
}
/*end login*/

/*currencies*/
#currencies{
	border: none;	
}

/*end currencies*/
/*=================*/	
/*end header*/
/*=================*/



/*=================*/
/*BLOG*/
/*=================*/
#breadcrumb{
	text-align: left;
	padding-top: 15px;
	padding-left: 20px;
}
#breadcrumb a:hover{
	color: #318182;
}
#breadcrumb a, #breadcrumb span {
	color: rgb(80, 80, 80);
    font-family: 'Roboto', sans-serif !important;
    font-size: 11px;
    font-weight: bold;
    text-align: left;
    text-decoration: none;
    text-transform: uppercase;

}
#page-title{
	padding: 0 0 10px 20px !important;
	margin-top: 0;
	border-bottom: solid 1px #c3c3c3;
}
h2#page-title {  
	border-bottom: 1px solid #c3c3c3;
	color: #202020;
    font-size: 40px;
    margin: 0 0 20px;
	font-weight: normal;
    padding: 0 0 15px;
    text-align: left;
	font-family: 'Lato', sans-serif;
	
}
.content{
	background: none;	
	padding-top: 0;	
}

.comments-link a{
	color: #808080;
}
article .author strong{
	color: #808080;
	float: left;
}
article.post img{
	max-width: 100%;
}

footer.f_blog{
	padding: 0;
	margin: 0;	
	text-align: left;
	border-top: 1px solid #d8dae3;
	width: 100%;
	padding-top: 13px;
	background: none;
}
footer.f_blog span, footer.f_blog strong{
	float: left;
	margin:0 3px;
}
footer.f_blog span.written{
	color: #808080;
}

footer.f_blog strong.admin{
	color: #202020;
	font-weight: bold;
}
footer.f_blog span.date{
	margin-right: 33px;
	font-size: 12px;
	color: #808080;
}
.f_blog  span.ico-author{
	background-position: -105px -30px;
}

.f_blog  span.ico-comment{
	background-position: -133px -30px;	
}
.article.post{
	margin-bottom: 62px;
}
a.post-comment{
	background: none repeat scroll 0 0 #fff;
	border: 1px solid #cbcbcb;
    border-radius: 15px 15px 15px 15px;
	-moz-border-radius: 15px;
	
    color: #202020;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 17px;
	text-decoration:none !important;
	margin: 0 10px 0 0;
}

a.post-comment:hover{
	background: none repeat scroll 0 0 #458F74; 
	border: 1px solid #458F74;	
    color: #FFFFFF;  
	transition: all 0.4s ease-in-out 0s;
}
.post h2.title a{
	color: #505050 !important;
	font-size: 30px;
	font-family: 'Lato',sans-serif;
	font-weight:normal;
	
}
.post h2.title a:hover{
	color: #458f74 !important;
	text-decoration:none;
}
/*col-main*/
.col-main{}
/*end col-main*/
/*asider*/
.asider .border_bottom:last-child{
	border-bottom: 0 !important;
}
.asider{
	background: #fff;
}
.asider  .title {
    color: #202020;
    font-family: arial;
    font-size: 18px;
    font-weight: bold;
	border-bottom: 4px solid #e9eaec;
    padding: 15px;
    text-align: left;
    text-transform: uppercase;
	
}

.asider  span.ico-author{
	background-position: -105px -30px;
}

.asider  span.ico-comment{
	background-position: -133px -30px;	
}

.asider span.author strong, .asider span.num-comment{
	color: #202020;
}

.aside_group{
	background: none !important;
	border-bottom: 1px solid #e9eaec;
	text-align: left;
}
.aside_group .title{
	padding-top: 15px !important;
	margin: 0 0 10px;
}
/*tag*/
ul.tags{
	list-style: none;
	text-align: left;
	padding-top: 20px;
}
ul.tags li{
	margin: 0;
}
ul.tags li a{
	display: block;
	color: #202020;
	font-weight: normal;
	text-decoration: none;	
}
ul.tags li a:hover{
	color: #459293;
	text-decoration: none;
}
article.post{
	margin-left: 20px;
    margin-right: 20px;
}
/*comment-form*/
.comment-form {
	text-align: left;
	margin: 0 20px 47px 20px;		
}

.comment-form  h2.title{
	color: #202020;
    font-family: 'Lato',sans-serif;
    font-size: 18px;
    font-weight: normal;
    text-transform: uppercase;
}
.comment-form p.notice{
	color: #808080;
	font-size: 12px;
}



.comment-form div {
    margin: 0 0 5px !important;
}

.comment-form textarea#comment_body {
	height: 71px;
}

/*end comment-form*/
/*end tag*/

ul.widget_list{
	list-style: none;
	padding: 15px 10px;
	margin-left: 0;
}
ul.widget_list li{margin-left: 0 !important; line-height: 27px;}
ul.widget_list li a{
	color: #202020;
	font-size: 14px;
	font-family: 'Roboto', sans-serif !important;
	font-weight: normal;
	text-decoration: none;
}
ul.widget_list li a:hover{
	color: #459293;
	font-weight: bold;
}
.textwidget_content{
	padding: 15px 5px 50px 5px;
}
.last ul.widget_list{
	padding-bottom: 0;
}

/*end asider*/
/*=================*/
/*END BLOG*/
/*=================*/
/*=================*/
/*register*/
/*=================*/


#create_customer{
	margin-bottom: 100px;
	padding: 0 0 0 20px;
}
#create_customer div{
	margin-bottom: 5px;
}
#password{
	margin-bottom: 30px;	
}
#customer_password{
	margin-bottom:5px !important;
}
.action_bottom{
	width: 30%;
}

/*=================*/
/*end register*/
/*=================*/
/*=================*/
/*contact us*/
/*=================*/
#col-main.contact {
	margin-bottom: 120px;
	overflow: hidden;
}
#col-main.contact .contact-form h4{
	margin-top: 0;
}
.contact-content p{
	font-size: 12px;
}
label.drop-us{
	display: block;
	float: left;
	width: 100%;
	text-align: left !important;
	font-size: 18px;
	color: #202020;
	font-family: 'Lato', sans-serif;
	margin-bottom: 32px;
	margin-left: 62px;
	font-weight: bold;
	text-transform: uppercase
}	
#contact-form{
	text-align: left !important;
}
.contact-form .type-submit{
	margin-left: 0 !important;
}
ul#contact-form, #contact-form li {
	margin: 0;
	list-style: none;
}
.contact-form textarea {
	height: 71px;
}

/*=================*/
/*end contact us*/
/*=================*/

/*about us*/
section.content{
	text-align: left;
}


/*about us*/
/*=================*/
/*carousel responsive*/
.list_carousel li, .grid li {
  display: block;
  float: left;
  margin: 0;
}
.caroufredsel_wrapper{ margin: 0!important}
.selectBox{
	border-radius: 15px;
	-moz-border-radius: 15px;
	border: 1px solid #ddd;
	float: right;
    padding: 5px 10px;	
	
	color: #202020;
	font-size: 12px;
	
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;		
	
	-webkit-box-shadow: 0 2px 3px rgb(237, 237, 237) inset;
	-moz-box-shadow: 0 2px 3px rgb(237, 237, 237) inset;
	box-shadow: 0 2px 3px rgb(237, 237, 237) inset;	
}
.fc-outer, .section-details{
	position: relative;
	width: 100%;
	padding: 20px 0;
	text-align: center;
}
.fc-outer h1{
	margin:0 !important;
}
.bt-outer{
	background: none repeat scroll 0 0 #313131;
    height: 48px;
    position: relative;
    width: 100%;
}
.section-details {
	position: relative;
}
a.prev, a.next, a.prev2, a.next2{
	position: absolute;
	top: 30px;	
	background: url("group_btn.png") no-repeat;
	display: block;	
	width: 28px;
	height: 26px;
	text-indent: -9999em;
	opacity: 0.45 !important;
	z-index: 1;
}
a.prev:hover, a.next:hover, a.prev1:hover, a.next1:hover, a.prev2:hover, a.next2:hover{
	opacity: 1 !important;
}
a.prev{
	background-position:-96px -17px;
	right: 54px;
}
a.next{
	background-position: -125px -17px;
	right: 20px;

}
a.prev2{
	background-position:-38px -17px;
	right: 54px;
}
a.next2{
	background-position: -64px -17px;
	right: 20px;

}
a.prev1, a.next1{
	background: url("group_btn.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 26px;
    position: absolute;
    text-indent: -9999em;
    top: 13px;
    width: 28px;
	opacity: 0.45 !important;
}
a.prev1{
	background-position:-97px -45px;
	right: 54px;
}
a.next1{
	background-position: -125px -45px;
	right: 20px;

}
.product-nav{	
	padding-top:20px !important;
}
.product-nav  span.next, .product-nav span.prev{
	float: left;
	margin-left: 10px;
}
/*end carousel responsive*/

/*slider*/


.connect_outer{
	background: #fff;
}
.connect_outer h1{
	margin-top: 10px;
	margin-bottom: 25px;
	padding-left: 17px;
}
ul.list_left, ul.list_right{
	width: 100%;
	list-style: none;
}
ul.list_right{
	margin-left: 20px;
}
ul.list_left li , ul.list_right li{
	margin: 0;
	text-align: left;
	line-height: 14px;
}
ul.list_left li a, ul.list_right li a{
	color: #505050;
	font-size: 14px;
	font-family: 'Roboto', sans-serif !important;
	padding: 10px 0;
	display: table-cell;
	text-decoration: none;
	
}	
ul.list_left li a:hover, ul.list_right li a:hover{
	color: #202020;
	text-decoration: none;
	font-weight: bold;
}
.img_center{margin: 0 0 20px 0;}
.img_center img{
	border-radius: 5px;
}
.title_connect{
	color: #202020;
	font-size: 40px;
	font-family: 'Lato', sans-serif;
	font-weight: 100;
	margin: 0 0 0 16px;
}

.wrap_list_carousel1{
	height: 240px !important;
	overflow: hidden !important;
	background: #000;
}

ul#bt-slider li{
	border: 1px solid #000;
	border-top: none !important;
	border-bottom: none !important;
	text-align: center;
}
/*end slider*/
/*=================*/
/*=================*/
/*tab*/
/*=================*/
#tabs_container {
    border-bottom: 1px solid #CCCCCC !important;    
	background: #000 !important;
	padding: 15px 0;
}
#tabs{
	list-style: none outside none;    
    text-align: center;   	
}
#tabs li{
	display: inline;
	margin:0 !important;
	line-height: 20px;
}

#tabs li:last-child  a.head_tabs {
    margin: 0 !important;
	background: none !important;
}

/*=================*/
/*end tab*/
/*=================*/

/*=================*/
/*product*/
/*=================*/
/*fprod*/
.ftop{
	margin: -2px 0 10px 0;
}
ul.fprod-grid{
	list-style: none;
	width: 100%;
	margin-bottom:60px;
	padding-top: 5px;
	margin-left: 0;	
}
ul.fprod-grid li{
	margin: 0;
	padding: 10px;
	line-height: 20px;
}


/*end fprod*/

/*connect, product*/
.list_tags{	
	float: left;
    padding: 7px 0;
}
.container-nav{
	padding: 20px 0;
	border-top: 1px solid #ddd;	
}
.content.description { 
    text-align: left;	
	margin: 20px 0 0 20px;
}

.group_section-details{
	padding: 0 !important;
	margin: 0 !important;
	background: #f4f4f4;
	padding: 0 0 30px;
}
ul.collection_menu{
	list-style: none;
	float: left;
	margin-bottom: 0 !important;
	margin-left: 0;
}
ul.collection_menu li{	
	float: left;
	margin-left: 0 !important;
}
ul.collection_menu li:last-child a{
	border-right: none;
}
ul.collection_menu li a{
	color: #808080;
	float: left;
	font-size: 14px;
	text-transform: uppercase;
	text-decoration: none;
	border-right: 1px solid #ddd;
	padding: 0 30px;
	line-height: 15px;
}
ul.collection_menu li a:hover{
	color: #000;
	font-weight: bold;
}
.grid_list{ 
	float: right; 
	width: 86px; 
	height: 30px; 	
	border-radius: 15px;
	margin-right: 20px;
	
	
}
.grid_list ul{ list-style: none; margin: 0 !important;}
.grid_list ul li{ float: left; margin-left: 0 !important;}
.grid_list ul li a span{ 
	color: #202020;
	width: 11px;
	height: 11px;
	display: block;	
	text-indent: 20px;
	line-height: 11px;
	display: block;
	overflow: hidden;
}
.grid_list ul li#lgrid.active, .grid_list ul li#lgrid:hover{
	background: rgb(69, 146, 147) !important;
	border-top: 1px solid rgb(69, 146, 147) !important; 
	border-bottom: 1px solid rgb(69, 146, 147) !important; 
	border-left: 1px solid rgb(69, 146, 147) !important; 
} 
.grid_list ul #llist.active, .grid_list ul #llist:hover{
	background: rgb(69, 146, 147) !important;
	border-top: 1px solid rgb(69, 146, 147) !important; 
	border-bottom: 1px solid rgb(69, 146, 147) !important; 
	border-right: 1px solid rgb(69, 146, 147) !important; 
} 

.grid_list ul li#llist.active a span, .grid_list ul li#llist:hover a span{
	background: url(group_icon.png) no-repeat -119px -17px;	
}

.grid_list ul li#lgrid{
	border-top: 1px solid #ddd; 
	border-bottom: 1px solid #ddd; 
	border-left: 1px solid #ddd; 		
	border-radius: 15px 0 0 15px;
	-moz-border-radius: 15px 0 0 15px;
	
}
.grid_list ul li#lgrid a{
	display: block;
    float: left;
    padding: 8px 10px 8px 20px;
}
.grid_list ul li#lgrid a span{ 
	background: url("group_icon.png") no-repeat scroll -140px -17px;        	
}
.grid_list ul li#lgrid.active a span, .grid_list ul li#lgrid:hover a span{
	background: url("group_icon.png") no-repeat scroll -140px -3px !important;        	
}
.grid_list ul li#llist{
	border-top: 1px solid #ddd; 
	border-bottom: 1px solid #ddd; 
	border-right: 1px solid #ddd; 	
	border-radius: 0 15px 15px 0;
	-moz-border-radius: 15px 0 0 15px;		
	
}
.grid_list ul li#llist a{
	display: block;
    float: right;
    padding: 8px 20px 8px 10px;
}
.grid_list ul li#llist a span{ 
	background: url(group_icon.png) no-repeat -119px -3px;	
}
.sort{	
	float: right;
    height: 29px;
    line-height: 29px;
    width: 190px;
	margin-right: 20px;
}
.sort .title{
	float: left;
}
.prod-desc{
	margin: 0 0 14px;
	line-height: 18px;
	font-size: 12px;
}
.prod-price{
	clear: both;
    display: block;
    margin: 0 0 9px;
}
ul#collectionListing.grid li, ul#prod-related li{	
	height:442px;
	border: 0;
	border: 1px solid #e5e5e5;
	overflow: hidden;
	/*line-height: 20px !important;*/

}

.product-grid li{
	float: left;
    margin: 0 !important;
    position: relative;
}

/*end connect, product*/
/*conection*/
#collection-grid .collection-item{
	width: 222.5px;
	height:402px;
	border: 1px solid #e5e5e5;
	overflow: hidden;
	line-height: 15px;
}
.coll-item{
	position: relative;
	height: 402px;
}
.coll-information{
	background: none repeat scroll 0 0 rgb(244, 244, 244);
    bottom: 0;
    left: 0;
    padding: 20px 10px 42px 0px;
    position: absolute;
    text-align: center;
	border-top: 2px solid #e5e5e5;
}
.coll-information a:hover{
	color: #318182;
}
.coll-information a{
	color: rgb(32, 32, 32);
    font-family: 'Roboto',sans-serif !important;
    font-size: 20px;
    font-weight: bold;
    margin: 0 0 15px;
    text-transform: uppercase;
}

span.desc-in-coll{
	font-size:12px;
	color:#505050;
	display: block;
	margin-top: 15px;
}
/*end conection*/

.prod-item{
	position:relative;
	
}
.product-item{	
	height: 352px;    
    width: 300px;
	position: relative;
}
ul#collectionListing{
	width: 100% !important;
}
ul#collectionListing.list li{
	clear: both !important;
	width: 100% !important;
	margin-left: 0 !important;
	margin-bottom: 0 !important;
	background: #f4f4f4;
}
ul#collectionListing.grid li{
	float: left;
}
ul#collectionListing.list {	
	background: #f4f4f4 !important;
}

ul#collectionListing.list  li#collectionItem{
	width: 100% !important;
}
ul#collectionListing.grid .prod-item, ul#prod-related.grid .prod-item{	
	width: 222.5px !important;
	height:442px;	
}
.product-item *, .product-item-connect *, .product-grid-item *{
	vertical-align: middle;
}
ul#collectionListing.grid .list-right, ul#prod-related.grid .list-right{
	position: absolute;
	left:0;
	bottom:0;
}
.ist-right{
	position: absolute;
	left:0;
	bottom:0;
}
ul#collectionListing.list .list-right{
	float: left;
	position: relative;
	width: 613px !important;
	padding: 15px 30px 30px 30px;
	
}
ul#collectionListing.list .button2{
	width: 182px;
}
.list-right{
	float: left;
	/*position: relative;	*/
}
.product-item .list-left{
	width: 298px;
	height: 402px;
}
ul#collectionListing{
	list-style: none !important;
}
ul#collectionListing.grid .prod-item .list-left, #prod-related.grid .prod-item .list-left{
	height: 262px !important;
    text-align: center;
    width: 224px;
}
.list-left{
	height: 352px !important;
    text-align: center;
    width: 224px;
	display:table-cell;
	background: #fff;
}
ul#collectionListing.grid .list-left, #prod-related .list-left{		
	display: table-cell;
	text-align: center;	
}
ul#collectionListing.grid .list-left *, #prod-related  .list-left *{
	vertical-align: middle;
}
ul#collectionListing.list .list-left {
	vertical-align: middle;
	float: left;
	border-right: 1px solid #ddd;
	height: 262px !important;
}
ul#collectionListing.grid a.product-link, #prod-related a.product-link{
	text-align: center;
}
ul#collectionListing.grid a.product-link img,#prod-related a.product-link img{
	display: inline-block;
	margin: 0 auto;
}
ul#collectionListing.grid .product-photo,#prod-related .product-photo {
	max-width: none !important;	
}
.product-title, .fprod-title{
	float: left;
	line-height: 18px;
}

ul#collectionListing.list .prod-title{
	text-align: left;
}
ul#collectionListing.gird .prod-title, #prod-related .prod-title{
	text-align: center;
}
.product-title a, .fprod-title a, .prod-title a{
	color: #202020;    
    font-family: 'Roboto',sans-serif !important;
    font-size: 14px;
    text-decoration: none;
    text-transform: uppercase;		
}
.product-title a:hover, .fprod-title a:hover, .prod-title a:hover{
	color: #318182;
}
.product-title a{padding: 0 5px;}
.fprod-title a{
	padding: 0 !important;
	margin: 0 0 5px 0;
}
.prod-price{
	color: #459293;
	font-size: 14px;
	font-family: 'Roboto', sans-serif !important;	
	font-weight: bold;
}

ul#collectionListing.list .prod-price{	
	text-align: left;	
}
ul#collectionListing.grid .prod-price, ul#collectionListing.grid  .prod-title{
	text-align: center;
}
.product-price {	
    text-align: center;   
}
.fprod-price, .detail-price{
	text-align: left;	
	line-height: 25px;
}
p.unavailable{
	font-size: 20px !important;
	color: #808080;
	font-family: 'Roboto', sans-serif !important;
}
.detail-price span{
	font-size: 30px;
	font-weight: normal;
	font-family: 'Myriad Pro';
	color: #459293;
	
}
#quick-shop-price-container  .detail-price span{
	display: block;
}
.detail-price del, .detail-price del span.money{
	color: #808080 !important;
	font-size: 20px;
}
.product-price , .fprod-price{
    background: none !important;
    border-radius: none !important;    
    color: #459293 !important;
    display: block;
    font-weight: bold;    
    width: auto;
	clear: both;
}
span.product-price del, span.product-price del span, span.fprod-price del, span.fprod-price del span, .prod-price.sale del{
	color: #808080 !important;
}
span.product-price del, span.product-price span, span.fprod-price del, span.fprod-price span{
	font-size: 14px;
	font-family: 'Roboto', sans-serif !important;
	color: #459293;	
}

span.sale_banner{
	position: absolute;
	background: url("sale.png") no-repeat center center;
	width:100px;	
	height: 100px;
	display: block;	
	text-indent: 100px;
	overflow: hidden;
	z-index: 1;
	top: 0px;
	right: 0px;
}
ul#collectionListing.grid span.sale_banner, #prod-related span.sale_banner{
	top: 0px !important;
	right: 0px !important;
}
ul#collectionListing.list span.sale_banner{
	top: 0px !important;
	left: 124px !important;
	
}
.pretty_hover{overflow:hidden; position:relative;}
.pretty_caption{
	position:relative;
}
.product-item  .pretty_caption{
	width: 99.5%;
}
span.i-narrow{
	width: 298px;	
	height: 15px;
	background:url("narrow.png") no-repeat scroll 0 0 !important;	
	display: block;
	
}
.product-title{text-align: center;}
/*infomation product*/

ul#collectionListing.list li{
	border: 1px solid #ddd;
}
ul#collectionListing.grid li .prod-information, #prod-related li .prod-information{
	background: #f4f4f4 !important;
	height: auto;
    padding: 15px 21px 18px;
    position: relative;
    text-align: center;    	
	width: 182px;
	border-top: 2px solid #e5e5e5;
}

ul#collectionListing.list li .prod-information{
}
/*infomation product*/

a.quick_shop, a.quick_shop.sale{	
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	text-decoration: none;
	line-height: 30px;
}

.sale del {
	display: inline-block;
	margin-top: -1px;
}

.fbottom{
	display: block;
	width: 100%;
}

.content_tabs ul li{
	border: 1px solid #e5e5e5;
	width: 298px;
	line-height: 20px;
	overflow: hidden;
}
.content_tabs ul{
	margin-left: 0;
}
.content_tabs .product-information {padding-bottom: 25px}
.content_tabs .product-title {padding: 10px 0}

/*product*/
.selector-wrapper{margin-bottom: 20px;}
.selector-wrapper label{
}

.single-option-selector{
	float: left;
	border: 1px solid #ddd;	
	padding: 3px 10px 3px 15px;
	
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
		
	-webkit-box-shadow: inset #ededed 0px 2px 3px;
	-moz-box-shadow: inset #ededed 0px 2px 3px;
	box-shadow: inset #ededed 0px 2px 3px;	
}
.relative{
	border-bottom: 1px solid #ddd;
	padding: 23px 0;
	margin-bottom: 20px;
}
.relative ul{
	list-style: none;
}
.relative ul li{
	margin: 0;
	line-height: 23px;
}
.relative ul li a, .relative ul li span.label{
	font-size: 12px;
	color: #202020;
	font-family: 'Roboto', sans-serif !important;	
}
.relative ul li span.label{
	font-weight: normal;
}
.relative ul li a{
	text-decoration: none;	
	font-weight: bold;
}
.relative ul li a:hover{
	color: rgb(69, 146, 147);	
}	
/*end product*/
/*=================*/
/*end product*/
/*=================*/


/*detail product*/
#product #product_slider{
	position: relative;	
	border-right: 2px solid #ddd;
}

#product{
	border: 1px solid #ddd;
}

.flex-control-nav{
	position: absolute;
	bottom:20px;
	left:0;
	z-index: 1;
}
.flex-control-thumbs {
	text-align: left;
	box-sizing: border-box;
	width: 100%;
	padding-left: 20px;
}
.flex-control-thumbs img {    
    height: 60px !important;
    width: 60px !important;
}
.flex-control-thumbs li{
	width: 60px !important;
	height: 60px !important;
	border: 1px solid #ddd !important;
	
}
#product-header{border-bottom: none !important;}
.diagonal-divider{
	padding: 0 !important;
	background: #fff;
}
.browse-tags{text-align: left !important; line-height: 30px !important; margin-left: 20px !important; }
.browse-tags label{float: left !important; margin-right: 10px !important;}
.browse-tags select{float: left !important;}

#collection_tags{
	float: left;
	border: 1px solid #ddd;	
	padding: 5px 10px;
	margin-bottom: 10px;
	
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
		
	-webkit-box-shadow: inset #ededed 0px 2px 3px;
	-moz-box-shadow: inset #ededed 0px 2px 3px;
	box-shadow: inset #ededed 0px 2px 3px;	
}
#sharing ul li  ,#sharing ul li *{
	float: letf;
	margin: 0 !important;
}
#product-information #sharing {
    border-bottom: 1px solid rgb(220, 220, 220) !important;  
	border-top: none;
    padding: 0 0 20px;
}
input#quantity{
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
		
	-webkit-box-shadow: inset #ededed 0px 2px 3px;
	-moz-box-shadow: inset #ededed 0px 2px 3px;
	box-shadow: inset #ededed 0px 2px 3px;
		
	width: 100px;
	text-align: center;
	float: left;
}

#product-header{
	padding: 20px !important;
}
/*end detail product*/
/*=================*/
/*connection*/
/*=================*/
ul#featured-collections li{
	width: 298px;
	height: 350px;
	display: table_cell;
	overflow: hidden;
	line-height: 20px;
}
.collection-grid-item{
	border: 1px solid rgb(229, 229, 229);
    display: table-cell;
    height: 348px;
    position: relative;
    vertical-align: middle;
    width: 298px;

}
.collection-photo{
	display: inline-block;
}

.collection-grid-item  img{
	margin: 0 auto;
	display: block;
	max-width:298px;
	max-height:350px;
}
.collection-information{
	text-align: center;	
	display: none;	
}

.collection-outer{
	background: #f4f4f4;
	padding:10px 0 20px;
}
span.collection-title{
	color: #202020;
    display: block;
    font-family: arial;
    font-size: 20px;
    font-weight: 400;    
    text-transform: uppercase;
	padding-top: 5px;
	padding-bottom: 10px;
}

.shop-collection a{
	color: #459293;
	font-size: 14px;
	font-weight:bold;
	text-decoration: none;
	font-family: 'Roboto', sans-serif !important;
}
/*=================*/
/*connection*/
/*=================*/
/*=================*/
/*list_logo*/
/*=================*/
.list_logo{
	padding: 30px 0;
}
.list_logo a{
	border: 1px solid #ECECEC;
    color: #A7A7A7;
    display: block;
    font-weight: bold;
    line-height: 13px;
    padding: 17px 0;
    text-align: center;
	font-size: 22px;
    text-decoration: none;   
}
.list_logo a:hover{
	color: #505050;	
	border: 1px solid #dadada;
}

/*=================*/
/*list_logo*/
/*=================*/
/*=================*/
/*comments*/
/*=================*/
#comments{
	margin: 0 20px;
}
#comments .comment{
	margin-top: 17px;
}
#comments .comment p{
	margin: 0;
	font-size: 12px;
}
#comments .pagination{
	padding-bottom: 21px;
	margin: 0 0 30px 0;
}
.comment-head{
	background: #eee;
	border-radius: 5px;
	-moz-border-radius: 5px;
	position: relative;
	padding: 10px 0;
}
.comment-head .comment-author{
	margin: 0 20px;
	border-right: 1px solid #cbcbcb;
	padding:0 20px 0 0;
}
a.comments-reply{
	margin: 0 !important;
    position: absolute;
    right: 6px;
    top: 6px;
}

.comment-author, .comment-posted{
	float: left;
}
.comment-posted, span.commented{
    color: #505050 !important;
    font-size: 14px;
    font-style: normal;
    line-height: 20px;
	font-family: arial;
    margin: 0;
}

.comment-content {
    background: none repeat scroll 0 0 rgb(255, 255, 255);
    border-radius: 8px 8px 8px 8px;
    color: rgb(102, 102, 102);
    float: right;
    position: relative;
    width: auto !important;
	float: left;
	padding: 18px;
	font-size: 12px;
}

.pagination {
	padding: 50px 0 0 0;
	text-align: center;
 }
 .pagination  ul{
	display: inline-block;
    height: 26px;
    list-style: none outside none;
 }
 .pagination  ul li{
	line-height: 20px !important;
 }
 .prev a{
	border-radius: 15px 0 0 15px !important;
	-moz-border-radius: 15px 0 0 15px !important;
 }
 .next a{
	border-radius: 0 15px 15px 0 !important;
	-moz-border-radius: 0 15px 15px 0 !important;
 }
 .pagination  ul li{
	display: inline;
    margin: 0 !important;
 }
  .pagination  ul li.disabled:hover a {font-weight: normal;}
 .pagination  ul li.disabled a{
	opacity: 1 !important;
	background: #e2e2e2 !important;
	color: #808080 !important;
  }
 .pagination  ul li a{
	padding: 5px 18px;
	line-height: 26px;
	border-right: 1px solid #ddd;
	color: #202020;
 }
.pagination li.active a {
    border-right-color: #ddd;
	cursor: default;
	font-weight: bold;
}
 .pagination a:hover, .pagination .active a {
	font-weight: bold;
    color: #333 !important;
	background: #fff !important;
}

.pagination-num-showing { 
    text-align: center;
	float: right;
	margin-right: 20px;
	color: #202020;
}
/*=================*/
/*end comments*/
/*=================*/

/*jGrowl*/
.jGrowl{
	background: #fff;
	display: block !important;
}

.others-bottom{
	margin-bottom: 50px;
}
span.p-name{
	color: #808080 !important;
	font-size: 12px !important;
}

/*tweets*/
.timeline .e-entry-title, .p-author .p-name, .cards-base h3, .new-tweets-bar button, .load-tweets, .no-more-pane {
    font-size: 12px !important;
    line-height: 16px !important;
}
html, .p-author .profile .p-name, .cards-base p, .cards-base p a, .timeline-header .summary, .timeline-header .summary a:link, .timeline-header .summary a:visited, .p-author a.profile:hover .p-name, .p-author a.profile:focus .p-name {
    color: #808080 !important;
    font-size: 12px !important;
}
/*end tweets*/

/*cart*/


/*end cart*/
/*=================*/
/*misc*/
/*=================*/
h4.rtitle{
	font-size: 18px;
	color: #202020 !important;
	font-family: 'Lato', sans-serif;
	
}
.jGrowl{
	background: #fff;
	-webkit-box-shadow: #ededed 0px 2px 3px;
	-moz-box-shadow:#ededed 0px 2px 3px;
	box-shadow: #ededed 0px 2px 3px;
}
.jGrowl-close{
	background: url("group_icon.png") no-repeat -121px -124px;
	width: 21px;
	height: 22px;
	overflow: hidden;
	text-indent: 20px;
}

div.jGrowl div.jGrowl-notification, div.jGrowl div.jGrowl-closer, .jGrowl-message{
	background: #fff !important;
	overflow: hidden;
}
.jGrowl-message{
	padding-top: 10px;
}

element.style {
    display: block;
}
div.jGrowl div.jGrowl-closer {
    color: rgb(32, 32, 32);
	padding: 10px !important;
	margin: 0 !important;
	box-sizing: border-box;
	width: 100%!important;
}
div.jGrowl div.jGrowl-closer:hover {
	color: #318182;
	clear: both;
}
.jGrowl a.product_img_link {
	display: table-cell;
	float: left;
	text-align: center;
	
	
}

.jGrowl a.product_img_link img{
	float: left;
}

.jGrowl .prod-title{
	float: right;
	width: 69%;	
}
.jGrowl a.your_cart{
	color: #459293;
	font-size: 13px;
	text-decoration: none;
	text-transform: capitalize;
}
.jGrowl .cart-megs{
	color: #202020;
	padding-top: 10px;
}
div.jGrowl div.jGrowl-notification.default, div.jGrowl div.jGrowl-closer{
	margin-bottom: 0;
	display: block;
	border-top: 1px solid #f1f1f1;
}

div.jGrowl div.jGrowl-notification.default:first-child{
	border: none;
}

/*#cartform table*/
#cartform{
	margin: 0 0 30px;
}
#cartform table{
	margin: 0 10px 20px !important;
    width: 98% !important;
}
#cartform table td{
	border: 1px solid #ddd !important;
	padding: 20px;
	
}
#cartform td.img{
	min-width: 70px;
	height: 90px;
}
#cartform table td{
	width:normal !important;
}

#cartform table th {
}

#cartform tr.top-labels th{
	background: #fafafa !important;
	padding: 9px 20px !important;
	text-align: center;
}

#cartform tr.item td{
	font-size: 14px;
	text-transform: uppercase;
	color:#202020 !important;
	text-decoration: none !important;
	
}
#cartform tr td a img{
	text-align: center;
	margin: 0 auto;
}

#cartform td span.money:parent{
	text-align: center;
}

#cartform tr.item td, #cartform tr.top-labels td{
	text-align: center;
	vertical-align: middle;
}
#cartform td.update-quantities {
	vertical-align: middle !important;
}
#cartform td.update-quantities .button1{
	margin: 0 auto !important;
	
}
#cartform tr.item td  a{
	text-decoration: none !important;
	color: #202020;
	
}
#cartform tr.item td a.button4{
	text-transform: none !important;
	color: #fff;
	
}
#additional-checkout-buttons {
    float: right !important;       
    width: 100% !important;
}

#cartform label.label1 a{
	text-decoration: none !important;
	font-weight: bold !important;
	color: #202020 !important;
}
/*end #cartform table*/
/* `Grid >> Children (Alpha ~ First, Omega ~ Last)
----------------------------------------------------------------------------------------------------*/


/*=====================*/
/*button*/
/*=====================*/

/*white post*/
input.button1, input.button3, input.button4{
}
a.button1, a.button3, a.button4{
	height: 20px; 
	line-height: 20px;
}
a.button1{	
	background: none repeat scroll 0 0 rgb(255, 255, 255);
    border: 1px solid rgb(203, 203, 203);
    border-radius: 15px 15px 15px 15px !important;
    box-shadow: none !important;
    display: block;
    font-size: 12px;
    font-weight: bold;	
    padding: 3px 17px;
    text-decoration: none !important;
	color: #202020;
	
}

input.button1{	
	background: none repeat scroll 0 0 rgb(255, 255, 255);
    border: 1px solid rgb(203, 203, 203);
    border-radius: 15px 15px 15px 15px !important;
    box-shadow: none !important;
    display: block;
    font-size: 12px;
    font-weight: bold;	
    padding: 6px 17px;
    text-decoration: none !important;
	color: #202020;
	
}

.button1:hover, input.button1:hover, a.button1:hover{
	background: #458F74 !important; 
	border: 1px solid #458F74;	
    color: #FFFFFF;  
	transition: all 0.4s ease-in-out 0s;
}
/*end white post*/

/*checkout*/
input.button2{height:auto !important}
a.button2{
	height: 20px !important;
}
input.button2, a.button2{
	background: none repeat scroll 0 0 rgb(69, 146, 147);
    border: 3px solid rgb(49, 129, 130);
    box-shadow: none !important;
    color: rgb(255, 255, 255) !important;
    display: block;
    font-weight: bold;    
    margin-bottom: 3px;
    padding: 9px 10px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
}

input.button2:hover, a.button2:hover{
    background: none repeat scroll 0 0 #318182;
    border: 3px solid #318182;   
    color: #FFFFFF;
    cursor: pointer;   
	opacity: 1 !important;	
}

/*end checkout*/

/*green post*/	
a.button3, input.button3{		
	background: none repeat scroll 0 0 #458F74; 
	border: 1px solid #458F74;	    
	border-radius: 15px 15px 15px 15px !important;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 17px;
    text-decoration: none !important;
	margin: 10px 0 10px 0 !important;	
	box-shadow: none !important;	
}

input.button3:hover, a.buttun3:hover{	
	color: #202020;  
	transition: all 0.4s ease-in-out 0s;	
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #CBCBCB;    
}
/*end green post*/

/*brown post*/
a.button4, input.button4{		
	background: none repeat scroll 0 0 #505050; 
	border: 1px solid #505050!important;	    
	border-radius: 15px 15px 15px 15px !important;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    padding: 6px 17px;
    text-decoration: none !important;
	margin: 10px 0 0 0 !important;	
	box-shadow: none !important;
	
}

input.button4:hover, a.buttun4:hover, .button4:hover{	
	color: #202020 !important;  
	transition: all 0.4s ease-in-out 0s;	
	background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #458F74;    
}
/*end brown post*/

/*quick shop*/
a.button5, input.button5, .quick_shop{		
	font-size: 14px;
	color: #202020;
	padding: 2px 23px;
	border:3px solid #e5e5e5;
	background: #fff;
	display: block;
	border-radius: none !important;
	box-shadow: none !important;
	height: auto !important;	
	text-transform: uppercase;
	font-weight: bold;
	text-decoration: none;
	text-align: center;
}

input.button5:hover, a.buttun5:hover{	
	color: #a2a2a2;
	background: #000;
	
}
/*quick shop*/
/*quick shop sale off*/
a.button6, input.button6, .quick_shop.sale{	
	color: #a2a2a2;
	background: #000;
	font-size: 14px;	
	padding: 2px 23px;
	border:3px solid #a2a2a2;	
	display: block;
	border-radius: none !important;
	box-shadow: none !important;
	height: auto !important;	
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}

input.button6:hover, a.buttun6:hover{		
	color: #202020;
	background: #fff;
}
/*quick shop sale off*/

.width_button1{
	width: 100%;
}

.width100{
	width:100%;
}
.width1{
	width: 96%;
}
.width2{
	width: 50%;
}
.width3 {width: 66%}
.width4 {width: 59%}
.width5{
	width: 102px !important;
}
.width6{
	width: 30%;
}
.width61{
	width: 61% !important;
}
/*=====================*/	
/*end button*/
/*=====================*/
/*=====================*/
/*input*/
/*=====================*/
/*select#address_country_new , .select1{
    height: 26px;
    line-height: 26px;
    padding: 3px;
    width: 51%;
}*/

select#address_country_new, .select1{
	height: 30px;
	padding: 5px;
}

input.input1{
	border-radius: 5px;
	-moz-border-radius: 5px;	
	-webkit-border-radius: 5px;
		
	-webkit-box-shadow: inset #ededed 0px 2px 3px;
	-moz-box-shadow: inset #ededed 0px 2px 3px;
	box-shadow: inset #ededed 0px 2px 3px;
    height: 18px;	
 
	border: 1px solid #DDDDDD;
    color: #333333;
	clear: both;
	display: block;
}

input.input2{
	border-radius: 15px;
	-moz-border-radius: 15px;	
	-webkit-border-radius: 15px;
	
	-webkit-box-shadow: inset #ededed 0px 2px 3px;
	-moz-box-shadow: inset #ededed 0px 2px 3px;
	box-shadow: inset #ededed 0px 2px 3px;
    height: 18px;
	
	border: 1px solid #DDDDDD;
    color: #333333;
	
	text-align: center;
	padding: 5px 20px;
	clear: both;
	display: block;
}

textarea.textarea1{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;	
	-webkit-border-radius: 5px 5px 5px 5px;
		
	-webkit-box-shadow: inset #ededed 0px 2px 3px;
	-moz-box-shadow: inset #ededed 0px 2px 3px;
	box-shadow: inset #ededed 0px 2px 3px;
 
	border: 1px solid #DDDDDD;
    color: #333333;
	clear: both;
	display: block;
}

select.select1{
	border-radius: 5px 5px 5px 5px;
	-moz-border-radius: 5px 5px 5px 5px;	
	-webkit-border-radius: 5px 5px 5px 5px;
		
	-webkit-box-shadow: inset #ededed 0px 2px 3px;
	-moz-box-shadow: inset #ededed 0px 2px 3px;
	box-shadow: inset #ededed 0px 2px 3px;
 
	border: 1px solid #DDDDDD;
    color: #333333;
	clear: both;
	display: block;
}

/*=====================*/
/*end input*/
/*=====================*/
/*=====================*/
/*label*/
/*=====================*/
.label1, label.label1{
	display: block;
    float: left;
	color: #131313;    
	margin: 0 0 5px;
}

/*=====================*/
/*end label*/
/*=====================*/

/*=====================*/
/*error*/
/*=====================*/
.error-list, .error-msg, .errors{
	background: #ef3a22;
	color: #fff;
	padding: 10px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	margin: 0 0 28px 0;
}
.error-list li{
	margin: 0;
	line-height: 18px;
}
.has-error input, .has-error textarea{
	border: solid 1px #ef3a22;
}
/*end error*/
/*=====================*/

/*=====================*/
/*title*/
/*=====================*/
.title1, h1.title1{
	border-bottom: 1px solid #C3C3C3;
    color: #202020;
    font-family: 'Lato',sans-serif;
    font-size: 40px;
    font-weight: 300;
    margin-bottom: 40px;
    padding-bottom: 5px;
}

/*heading home*/
.title2, div.title2{
	 font-family: 'Lato',sans-serif;
	 font-size: 40px;
	 font-weight: 300;
	 color: #202020;	 
}
/*heading home*/

/*title tab, title footer*/
/*title3*/
.title3, .head_tabs{		
	color:#808080;
	font-size: 14px;
	font-family: 'Lato',sans-serif;
	font-weight: 400;	
	text-transform: uppercase;
	text-decoration: none;
	font-weight: bold;
}
.head_tabs {
    background: url("line_tab.jpg") no-repeat scroll 100% center transparent;
    padding: 0 30px;
}
.head_tabs:hover, .active a{	
	color:#fefefe;	
	text-decoration:none;	
	transition: all 0.4s ease-in-out 0s;
    
}

/*end title3*/
.f_title{
	text-align: left;
	
}

.f_title h3, .bt-title{
	font-weight: bold;
	color:#fefefe;
	font-size:14px;	    
    text-transform: uppercase;
	
}

.bt-title { 		    
    line-height: 30px;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 10px;
	left: 0;
    width: 100%;
}
/*end title tab, title footer*/
/*=====================*/
/*end title*/
/*=====================*/
/*=====================*/
/*heading*/
/*=====================*/
/*heading1*/
.heading1 {
    color: #202020;
    font-family: 'Lato',sans-serif;
    font-size: 40px;
    font-weight: 100;
    margin: 0 0 0 16px;
}
/*end heading1*/
/*=====================*/
/*heading*/
/*=====================*/
.sidebar-line{
	border-right: 2px solid #e9eaec !important;
}
.border_right{
	border-right: 1px solid #DCDCDC;
	margin-bottom:40px;
}

.cor1{
	color: #808080;
}
.alpha {
  padding-left: 0;
}
.align-left{
	text-align: left !important;
}
.align-right{
	text-align: right !important;
}
.align-center{
	text-align:center
}
.omega {
  padding-right: 0;
}
.bg{
	background: #fff !important;
}
.add_border-right{
	border-right: 1px solid #ddd;
}
.remove_border{
	border: none !important;
}
.remove_display{
	display: inline !important;
}
.remove_padding{
	padding:0 !important;
}
.remove_margin{	
	margin:0 !important;
}
.remove_height{
	height: 0 !important;
}

.add_margin{
	margin-bottom: 60px !important;
}
.add_border_nav{
	background: #fff url("linne_bottom_nav.jpg") repeat-x 0 100%;
	padding-bottom:5px;

}
.border_bottom{
	border-bottom: 1px solid #e9eaec;
}

.border_bottom.last{
	border-bottom: 0;
}

.asider div:last-child{
	border: none !important;
}

span.prev a, span.next a{
	color: #333;
}
.req{
	color: #f00;
}
.txt_newsleter .desc{
	margin-bottom: 12px;
	
}
.padding_top10{
	padding-top: 10px;	
}
.add_background{
	background: none repeat scroll 0 0 #313131 !important;
}

.inline-block{
	display: inline-block;
}
.fprod_group .fleft{
	display: table-cell;
    text-align: center;
    width: 30%;
}
.fprod_group .fright{width:70%;}

.fleft{float: left;}
.fright{float:right;}

.fleft .product-photo{
	max-width: 70%;
}

.fprod_group .fhr{
	border: none;
	border-top: 1px solid #e5e5e5;
	margin-top: 30px;
}

a:focus{
	outline: none !important;
}

#forgot_password {
    width: 100% !important;
	margin: 0 !important;
}
#forgot_password a, .note a{
	color: #458f74;
	font-size: 12px !important;
	clear: both;
	text-decoration: none;
	font-family: arial;
	
}

/* order history */
#customer_orders{
	padding: 10px;
}
#customer_orders h4{
	padding-top: 2px;
	padding-bottom: 11px;
	padding-left: 10px;
}
#customer_orders a, #order_details a{
	color: #202020;
}
#customer_orders a:hover, #order_details a:hover{
	color: #459293;
}
.status_authorized, .status_fulfilled{
	text-transform: capitalize;
	color: #2f8500;
}

.status_unauthorized, .status_unfulfilled{
	text-transform: capitalize;
	color: #d60000;
}

/* end order history */

/*customer_address*/

#address_tables .customer_address{
	padding: 20px;	
	padding-bottom: 0;
}
.address_table, #add_address{
	margin: 0 !important;
}
.address_table{
	border: 1px solid #ddd;
}
#page-actions{
	padding: 0 0 20px 10px;
}
.action-bottom{
	clear: both;
}
.action-bottom .button3, .action-bottom .button1{
	float: left;
}
.action-bottom .button1{
	margin: 10px 0 10px 10px !important;
}

.customer_address .action-bottom {
    margin-left: 0;
}

p.address_actions{
	float: left;
	width: 100%;
}

.address_actions .action_edit, .address_actions span:first-child{
	padding: 0 16px;
	border-right: none !important;
}

.address_actions  span:first-child{
	padding-left: 0;
}
.default_address{
	color: #458F74 !important;
}
h3.address_title{
	color: #458F74 !important;
    font-size: 30px;
    font-weight: 400
}

fieldset.set_default{
	height: 15px;
	line-height: 15px;
}

.address #view_address{
	width: 115px;
}
a#view_address.button1{
	width: 112px;
}

#customer_detail h4.name{
	font-family: 'Roboto',sans-serif !important;
    font-size: 20px;
    font-weight: normal;
    text-transform: none;	
	padding: 0 0 0 20px;
	background: url("group_icon.png") no-repeat -60px -105px;
}

address.address_info span.i-author, address.address_info span.i-address {
	width: 16px;
	height: 16px;
	background: url("group_icon.png") no-repeat;
	display: block;
	float: left;
	margin-right: 10px;
}
address.address_info span.i-author{	
	background-position:-60px -4px; 

}
address.address_info span.i-address{
	background-position:-33px -4px;	
}
address.address_info span.author{
	font-size: 20px;
	color: #202020;	
	width: 94%;
}

address.address_info span.email{
	color: #458f74;
	margin-left: 27px;
}

address.address_info span.address2, 
address.address_info span.city, 
address.address_info span.phone,
address.address_info span.zip{
	float: left;		
	width: 90%;
	margin-left: 27px;
}
address.address_info span.address1{
	width: 90%;
}
address.address_info span.phone{
	padding: 7px 0 0;
}
address.address_info div.name{
	margin: 0 0 13px 0;
}
address.address_info{
	margin: 0 0 40px 0;
	font-size: 14px;
}
#customer_detail{
	padding: 15px 20px;
}
/*end customer_address*/

#add_address{
	width: 45%;
	float: left;
}

span.i-edit, span.i-delete {
	width: 21px;
	height: 21px;
	background: url("group_icon.png") no-repeat;
	margin: 3px;
}

span.i-edit{
	background-position: -32px -129px;
}
span.i-delete{
	background-position: -8px -129px;
}

/*
billing-is-shipping
*/
input#order_email{
	padding: 0 10px !important; 
	border: 1px solid #ddd !important; 
	border-radius: 5px !important;
	-moz-border-radius: 5px !important;
	-webkit-border-radius: 5px !important;
}
#billing-is-shipping td{border: none !important;}
#billing-is-shipping input {
	border-radius: 5px;
	-moz-border-radius: 5px;	
	-webkit-border-radius: 5px;
		
	-webkit-box-shadow: inset #ededed 0px 2px 3px;
	-moz-box-shadow: inset #ededed 0px 2px 3px;
	box-shadow: inset #ededed 0px 2px 3px;
    height: 18px;	
 
	border: 1px solid #DDDDDD !important;
    color: #333333;
	clear: both;
	display: block;
}


/*
end billing-is-shipping
*/

/*=================*/
/*end misc*/
/*=================*/
/*=================*/
/*Responsive*/
/*=================*/
/*Chrome*/
@media screen and (-webkit-min-device-pixel-ratio:0) { 
	#header-search #top-search-input {		
		width: 100%;
	}
}

/*end Chrome*/ 
/*IE10*/
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
	span.nav-arrows {
		top:35%;
		
	}		
}
/*end IE10*/
/*ipad*/
/*end ipad*/
/*screen*/
@media handheld, only screen and (max-width: 1024px) and (min-width: 768px) {		
		ul.list_left li{text-align: right; margin-right: 20px;}
		ul.list_right li {text-align: left;}				
}


/*end screen*/

/*iphone*/
@media handheld, only screen and (max-width: 568px) and (min-width: 319px) {
		.cart-link{border-left: none !important; position: relative;}
		
}

@media handheld, only screen and (max-width: 320px) {
	.cart-link{border-left: none !important; position: relative;}
	ul#collectionListing.grid li{float: none !important; }
	ul#collectionListing.grid .prod-item, ul#prod-related.grid .prod-item{width: auto !important;}
	ul#collectionListing.grid .prod-item .list-left, #prod-related.grid .prod-item .list-left{
		width: 302px !important;
		display: table-cell;
		text-align: center;
	}
	ul#collectionListing.grid li .prod-information, #prod-related li .prod-information{width: 87% !important;}		
	
}
@media handheld, only screen and (max-width: 480px) and (min-width: 320px) {	
	.browse-tags{clear: both !important; width: 100% !important;}
	ul#accounts {
		list-style: none outside none;
	}
	.sort{float: left !important; margin-bottom: 10px; width: 190px !important;}
	#header-search {
		float: left !important;
	}
	.content_tabs ul li {
		border: 1px solid #e5e5e5;
		width: 272px;
		line-height: 20px;
	}	
	.content_tabs ul{
		text-align: center !important;
	}
	.content_tabs ul li{
		float: none !important;
		display: inline !important;
	}
	#checkout-proceed {
		float: left !important;
		text-align: left !important;
	}
	#checkout-proceed .button2{
		float: left !important;
	}
	ul#footer-payment-methods{
		float: left;
	}
	.pagination-num-showing{
		text-align: center;
		float: none !important;
	}
	
}


@media handheld, only screen and (max-width: 567px) and (min-width: 320px) {
	.sort{float: left !important; margin-bottom: 10px;}
	ul#footer-payment-methods{
		float: left;
		margin-left: 10px;
	}
		#checkout-proceed {
		float: left !important;
		text-align: left!important;
	}
	#checkout-proceed .button2{
		float: left !important;
	}
	.pagination-num-showing{
		text-align: center;
		float: none !important;
	}
	
	
}
@media handheld, only screen and (max-width: 320px) and (min-width: 0px) {
	img{
		max-width: 80%;
	}
}
@media handheld, only screen and (max-width: 767px) and (min-width: 0px) {
	ul#footer-payment-methods{
		float: left;
		margin-left: 10px;
	}
	
}
/*end iphone*/
/*=================*/
/*end Responsive*/
/*=================*/