<div id="col-main" class="content">
  <div id="page-header">
    <h1 id="page-title">Page not found <span class="not_found">404</span></h1> 
  </div>
  
  <div class="grid-100 align-center">
    <h2 class="align-center">
      Whoops looks like we lost one!
    </h2>
    <h5 class="align-center">
      404 - Page can not be found.
    </h5>
    <p>&nbsp;</p>
    <div class="align-center">
    <a class="button1" href="/collections/all">Continue Shopping</a>
    </div>
  </div>
</div>
<p>&nbsp;</p><p>&nbsp;</p>