
<section am-Grid-Row="wrap">
  {% include 'zd' %}

  <div am-DZ am-Flex-Item="order:{[{settingsCtrl.getDZOrder()}]}">
    <div am-offset-bottom="auto" am-Flex-Item="end">
      {% include 'cart-toggle' %}
    </div>
    <img src="{{ 'DZ-01.svg' | asset_url }}"/>
  </div>

	{% if collection.products.size > 0 %}
		{% for product in collection.products %}
		<div am-Collection-Item am-Flex-Item="order:{{ forloop.index }}">
			{% include 'product-grid-item-new' %}
	  </div>
		{% endfor %}
	{% else %}
		<p id="no-products" class="animated fadeInUpBig">There aren't any products in this collection!</p>
	{% endif %}
</section>


