<div am-gutter>
	<div am-Page-Title>Search Results</div>
	{% if search.performed %}
		{% if search.results_count == 0 %}
		<div id="keyword">
			No results found for <span>{{ search.terms | escape }}</span>
		</div>
		{% else %}
		<div id="keyword">
			Showing results for <span>{{ search.terms | escape }}</span>
		</div>
		<!--START PRODUCT GRID-->
		<section am-Grid-Row="wrap" am-negative-gutter>

			{% for item in search.results %}
				{% assign product = item %}
				<div am-Collection-Item style="order:{{ forloop.index }};">
					{% include 'product-grid-item-new' %}
			  </div>
			{% else %}
				<p>There are no products in this view.</p>
			{% endfor %}
		</section>
		<!--END PRODUCT GRID-->
		{% endif %}
	{% else %}
	<p>No search performed. If you are looking for something, please try our <a href="/">homepage</a></p></p>
	{% endif %}
</div>
